body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    background: #eee;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "main"
        "sidebar"
        "footer";
}

@media (min-width: 1130px) {
    body {
        grid-template-columns: auto 300px;
        grid-template-rows: 75px auto 150px;
        grid-template-areas:
            "header header"
            "main sidebar"
            "footer footer";
    }

    .nav-sections {
        padding-right: 25px;
    }

    .nav-sections li {
        float: left;
        margin-left: 25px;
        margin-bottom: 10px;
    }

    .nav {
        padding-top: 30px
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .footer {
        border-top: 1px solid #e18a07;
    }

}

:target {
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-style: italic;
}

a {
    color: #e18a07;
}

.main {
    background: white;
    box-shadow: 0px 0px 3px #888;
}

.header {
    grid-area: header;
    background: white;
    border-bottom: 1px solid #e18a07;
}

.nav-sections li {
    list-style: none
}

.header a {
}

.header sub {
    font-size: 10pt;
    color: #e18a07;
    margin-left: 5px;
}

.header h2 {
    margin: 0;
    color: black;
    padding: 20px;
}

.headerlink {
    display: none;
}

.content {
    grid-area: main;
    margin-left: 15px;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 800px;
    margin-bottom: 20px;
}

/* -- Main Content  -- */
.section {
    padding-bottom: 20px;
    line-height: 1.4;
}

.section h1,
.section h2,
.section h3 {
    padding: 10px;
}

.section h4,
.section h5,
.section h6 {
    margin: 25px 20px;
}

.section ul,
.section ol,
.highlight-pycon {
    margin: 10px 20px;
}

.section li {
    margin: 5px 10px;
}

.section p {
    margin: 20px;
}

.section a {
    text-decoration: none;
}

/* -- Sidebar -- */
.nav {
    grid-area: sidebar;
    background: white;
    border-left: 1px solid #e18a07;
}

.nav ul {
    padding: 0;
}

.nav-header {
    padding: 10px 5px;
    margin-top: 0;
}

/* -- TocTree -- */
.nav li,
.nav .toctree-l1,
.nav .toctree-l2 {
    list-style: none;
    padding: 5px 15px;
}

.nav .toctree-l1.current {
}

.nav .reference,
.nav .toctree-l1 a,
.nav .toctree-l2 a {
}

/* -- Footer -- */
.footer {
    display: flex;
    justify-content: space-around;
    grid-area: footer;
    background: white;
}

.footer a {
}

/* -- Admonitions -- */
.admonition {
    border: 1px solid black;
    border-left: 5px solid #e18a07;
    margin: 25px 20px;
}

.admonition-title {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 800;
}

.admonition .last {
    text-align: right;
}

.admonition.warning {}

.admonition.error {
    border-left: 5px solid #cc0000;
}

.admonition code.literal span.pre {
}

/* -- Inline Code -- */
code.literal {
}

code.literal span.pre {
    font-size: 16px;
}

/*-- Glossary -- */
dl.glossary {
    margin: 20px;
}

dl.glossary dt {
    margin-top: 15px;
    text-decoration: underline;
    text-transform: capitalize;
}

/*-- Autodoc --*/
dl.class,
dl.module,
dl.attribute {
    font-size: 16px;
}

dl.class {
    margin-left: 25px;
    margin-bottom: 75px;
}

dl.class dt {
    margin: 10px 0;
    margin-left: 10px;
}

dl.class em {
    font-style: normal;
}

dl.class p {
    margin: 20px 0;
}

dl.method > dt:before {
    content:"method ";
}

dl.attribute > dt:before {
    content:"attribute ";
}

dl > dt > a {
    float: right;
}

tr.field {
    text-align: left;
}
